body {
    font-family: var(--font-family-base);
    color: var(--color-text);
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-gray-900);
    line-height: 1.2;
}

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

p {
    color: var(--color-text-muted);
}
