body {
    font-family: var(--font-family-base);
    color: var(--color-text);
    font-size: var(--font-size-base);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    color: var(--color-gray-900);
    line-height: 1.2;
}

h1 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

p {
    color: var(--color-text-muted);
}